/*  
ESTILIZAÇÃO BÁSICA
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Roboto;
    background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
    color:#74ebd5;
    line-height: 1.6;
}

/*  
HEARDER
*/

header {
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
}

header p {
    color: #ddd;
    font-size: 14px;
}